<div class="view-with-navbar">
<div class="container">
  <div class="row">

    <div class="col-md-12">

      <div class="panel panel-default about-panel">
        <div class="panel-body">
          <h1>What is this thing?</h1>
          <div class="clearfix"></div>
          <p>The goal of the game is to gain as many points as possible by guessing Underground, Overground and DLR station locations around London.</p>
          <p>This is a hobby project to play around with web technologies.</p>
          <h1>Who built it?</h1>
          <div class="clearfix"></div>
          <p>It is built by <a target="_blank" href="http://uk.linkedin.com/in/karlkerem">Karl Kerem</a> over couple of week-ends.</p>
          <h1>Is it open-source?</h1>
          <div class="clearfix"></div>
          <p>Yes, have a blast, fork <a target="_blank" href="https://github.com/karlkerem/tube-guru">GitHub repo</a> and do whatever you want to it.</p>
          <h1>Where is the map taken from?</h1>
          <div class="clearfix"></div>
          <p>Original tube map was built in CSS (by hand!) by John Galantini to celebrate 150 years of London Underground. (<a target="_blank" href="https://github.com/oakleyarts/css-tube-map">GitHub Repo</a>).</p>
          <p>I salute his effort and encourage you to check out John's <a href="http://www.johngalantini.com/" target="_blank">personal page</a>.</p>
        </div>
      </div>


    </div>
  </div>
</div>
</div>
